<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vue.dao.UserDao">

    <select id="selectname" resultType="com.vue.pojo.User" >
    
          select * from user where username=#{username} and password=#{password}
          
    </select>

    <insert id="insertuser" parameterType="com.vue.pojo.User">
    
         insert  into user(username,password,salt,status) values (#{username},#{password},#{salt},#{status})
         
    </insert>
    
    <insert id="insertuser2" parameterType="List">
    
         insert  into user(username,password) values (#{username},#{password})
         
    </insert>
    
    <select id="alluser" resultType="com.vue.pojo.User">
    
    select * from user
    
    </select>
    
    <delete id="deleteid" parameterType="String">
    
    delete from user where username=#{username}
    
    </delete>
    
    <select id="find" parameterType="String" resultType="com.vue.pojo.User">
    
    select * from user where username like concat('%',#{username},'%')
    
    </select>
    
    <select id="findid" parameterType="Integer" resultType="com.vue.pojo.User">
    
    select * from user where id=#{id}
    
    </select>
    
    <update id="update" parameterType="com.vue.pojo.User">
    
    update user
    <set>
    <if test="username!=null and username!=''">
    username=#{username},
    </if>
    <if test="password!=null and password!=''"></if>
    password=#{password},
    <if test="status!=null and status!=''"></if>
    status=#{status}
    </set>
    where id=#{id}
    
    </update>
    
    <select id="findname" parameterType="String" resultType="com.vue.pojo.User">
    
    select * from user where username=#{username}
    
    </select>


</mapper>